nav {
  height: 50px;
  // width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: #ff3f3c;
  a {
    text-decoration: none;
    font-family: sans-serif;
    color: #fff;
  }
}

footer {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 60px;
  // width: 100%;
  background-color: #ff3f3c;
  font-family: sans-serif;
  color: #ffaead;
  // position: fixed;
  // bottom: 0;
  // margin-top: 50px;
}
