nav {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: #ff3f3c;
  a {
    text-decoration: none;
    font-family: sans-serif;
    color: #fff;
  }
}

footer {
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: #ff3f3c;
  font-family: sans-serif;
  // color: #fff;
  color: #ffaead;
}
